#cine {
  color: #009c3b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
}
.sp {
  color: rgb(0, 0, 253);
  font-family: Arial;
}
.rj {
  color: red;
  font-family: Arial;
}
